#index-wrap {
  #header {
    .header-sroll {
      .inner {
        .logo {
          a {
            img {
              filter: invert(1);
            }
          }
        }

        .navigation {
          nav {
            ul {
              li {
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    .small {
      .inner {
        .logo {
          a {
            img {
              filter: none;
            }
          }
        }

        .navigation {
          nav {
            ul {
              li {
                a {
                  color: #222;

                  @include respond-to(mobileW) {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .content {
    #intro {
      position: relative;
      height: clamp(520px, 56vw, 100vh);
      padding: 140px 0 100px;
      overflow: hidden;
      background: $dark-bg;

      &:before {
        content: "";
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;

        @include respond-to(sms) {
          display: block;
        }
      }

      .video-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        video {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      .intro-title {
        position: relative;
        margin: 0 0 80px;
        padding-right: 20px;
        padding-left: clamp(10px, calc(17.84vw - 56.9px), 200px);
        color: #fff;
        z-index: 1;

        .description {
          font-size: 14px;

          hr {
            margin: 5px 0 0;
          }
        }

        h1 {
          position: relative;
          text-align: left;
          font-size: clamp(30px, 6vw, 60px);
          margin: 6px 0;

          .text {
            display: flex;
            width: 100%;
            gap: 10px;

            p {
              .word {
                position: absolute;
                opacity: 0;

                .letter {
                  display: inline-block;
                  position: relative;
                  float: left;
                  transform: translateZ(25px);
                  transform-origin: 50% 50% 25px;

                  &.out {
                    transform: rotateX(90deg);
                    transition: transform 0.32s
                      cubic-bezier(0.55, 0.055, 0.675, 0.19);
                  }

                  &.behind {
                    transform: rotateX(-90deg);
                  }

                  &.in {
                    transform: rotateX(0deg);
                    transition: transform 0.38s
                      cubic-bezier(0.175, 0.885, 0.32, 1.275);
                  }
                }
              }

              .wisteria {
                color: #c53aff;
              }

              .belize {
                color: #47b6ff;
              }

              .pomegranate {
                color: #ff2d18;
              }
            }
          }
        }

        .sub-text {
          p {
            font-size: clamp(14px, 2.8vw, 16px);
            line-height: 1.5;

            &:last-child {
              margin: 11px 0 0;
            }
          }
        }
      }

      .ai-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 240px;
        right: 0;
        bottom: 0;
        border-radius: 16px 0 0 0;
        padding: 20px;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);

        @include respond-to(sms) {
          display: none;
        }

        .info-title {
          color: #fff;
          padding: 0 0 8px;
          margin: 0 0 3px;
          border-bottom: 1px solid #5c5c5c;

          p {
            color: $gray-text;
            font-size: 13px;
          }
        }

        .detail-info {
          display: flex;
          flex-direction: column;
          gap: 6px;

          p {
            display: flex;
            color: #fff;
            line-height: 1;

            span {
              display: flex;
              width: 60px;
              color: $gray-text;
            }
          }
        }
      }
    }
    #logo-slider-area {
      padding: 80px 0 0;

      .logo-slider {
        #basicSlider {
          position: relative;

          &:before,
          &:after {
            content: "";
            position: absolute;
            width: 200px;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(
              to right,
              #fff 0%,
              rgba(0, 0, 0, 0) 100%
            );
            z-index: 2;
          }

          &:before {
            left: 0;
          }

          &:after {
            right: 0;
            transform: translateY(-50%) rotateZ(180deg);
          }

          .MS-content {
            white-space: nowrap;
            overflow: hidden;

            .item {
              position: relative;
              display: inline-block;
              width: 13%;
              height: 60px;
              text-align: center;
              vertical-align: middle;
              @include respond-to(sm) {
                width: 20%;
              }
              @include respond-to(pad) {
                width: 25%;
              }
              @include respond-to(mobileM) {
                width: 30%;
              }

              img {
                max-height: 60px;
                @include respond-to(mobileW) {
                  max-height: 40px;
                }
              }
            }
          }
        }
      }
    }

    #skills {
      display: inline-block;
      width: 100%;
      padding: 100px 0;

      hr {
        margin: 10px auto;
      }

      &:hover {
        hr {
          width: 40px;
          border-bottom: 1px solid $blue;
          @include transition(all 0.3s);
        }
      }

      .skill-area {
        width: 1000px;
        margin: auto;

        @include respond-to(md) {
          width: 100%;
          padding: 0 20px;
        }

        .title-box {
          display: block;
          text-align: center;

          .title {
            font-size: 30px;
            font-weight: bold;

            @include respond-to(mobileW) {
              font-size: 24px;
            }

            span {
              color: $blue;
            }
          }
        }

        .box-layer {
          display: block;
          width: 100%;
          text-align: center;
          margin: 20px auto;

          @include respond-to(mobileL) {
            margin: 0 auto;
          }

          .mobile-box {
            display: flex;
            justify-content: center;

            @include respond-to(md) {
              display: block;
              width: 100%;
              margin: auto;
            }

            .card {
              float: left;
              width: 25%;
              padding: 0 15px;
              margin: 30px 0;

              @include respond-to(md) {
                float: none;
                display: inline-block;
                width: 250px;
                margin: 30px 0 10px;
              }

              .wrapper {
                position: relative;
                border-radius: 12px;
                height: 240px;
                overflow: hidden;
                background-color: #fff;
                box-shadow:
                  0 19px 38px rgba(0, 0, 0, 0.15),
                  0 15px 12px rgba(0, 0, 0, 0.1);

                &:hover {
                  .data {
                    transform: translateY(0);
                    box-shadow:
                      0 19px 38px rgba(0, 0, 0, 0.3),
                      0 15px 12px rgba(0, 0, 0, 0.2);
                  }
                }
              }

              .data {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: left;
                transform: translateY(80px);
                transition: transform 0.3s;
                z-index: 3;

                .content {
                  padding: 10px 20px;
                  position: relative;
                  z-index: 1;
                  background-color: #fff;

                  .author {
                    font-size: 12px;
                    color: $gray-text;

                    i {
                      position: absolute;
                      right: 20px;
                    }
                  }

                  .title {
                    font-size: 14px;
                    font-weight: bold;
                    margin: 3px 0 15px;
                  }

                  .text {
                    height: 70px;
                    margin: 0;
                    font-size: 13px;
                    line-height: 18px;
                  }
                }
              }
            }
          }
        }

        .tool-area {
          .tool-list {
            ul {
              display: flex;
              justify-content: space-between;
              gap: 20px;

              li {
                border-radius: 24px;
                box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.1);
                overflow: hidden;

                img {
                  display: flex;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    #parallax-area {
      position: relative;
      width: 100%;
      overflow: hidden;

      .parallax-area-inner {
        position: relative;
        background: $black-bg;

        .content--spacing {
          margin-bottom: 100vh;
        }

        .content__title {
          position: absolute;
          height: 100vh;
          width: 100vw;
          top: 50%;
          left: 50%;
          margin: -50vh 0 0 -50vw;
          padding: 0 10vw;
          font-weight: bold;
          font-size: clamp(1.5rem, 15vw, 60px);
          color: #fff;

          @include respond-to(sm) {
            margin: -30vh 0 0 -50vw;
            padding: 0 5vw;
            font-size: clamp(1.5rem, 15vw, 40px);
          }

          @include respond-to(mobileL) {
            margin: -10vh 0 0 -50vw;
            font-size: clamp(1.5rem, 15vw, 20px);
          }

          p {
            margin: 0;
            padding: 0;
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
          }
        }

        .content__title--top {
          align-items: start;
        }

        .content__title--bottom {
          align-items: end;
        }

        .content__title--left {
          justify-items: start;
          text-align: left;
        }

        .content__title--right {
          justify-items: end;
          text-align: right;
        }

        .outro {
          display: grid;
          place-items: center;
          margin: 40vh 0;
        }

        .grid {
          display: grid;
          place-items: center;
          padding: 2rem;
          width: 100%;
          perspective: 1500px;

          .grid-wrap {
            height: auto;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2vw;
            transform-style: preserve-3d;

            .grid__item {
              aspect-ratio: 1.5;
              width: 100%;
              height: auto;
              overflow: hidden;
              position: relative;
              border-radius: 8px;
              display: grid;
              place-items: center;

              .grid__item-inner {
                position: relative;
                width: calc(1 / 1 * 100%);
                height: calc(1 / 1 * 100%);
                background-size: cover;
                transform: scale(1) !important;
              }
            }
          }
        }
      }
    }

    #career {
      position: relative;
      width: 100%;
      height: 100%;

      .timeline-area {
        display: block;
        width: 700px;
        margin: auto;

        @include respond-to(sm) {
          width: 100%;
          padding: 0 20px 0 70px;
        }

        @include respond-to(mobileW) {
          padding: 0 20px;
        }

        .timeline {
          ul {
            #more {
              display: none;
            }

            li {
              &.timeline-item {
                position: relative;
                padding-left: 40px;

                &:last-child {
                  padding-bottom: 0;
                }

                &:not(.period):hover .timeline-marker:before {
                  background: transparent;
                  border: 3px solid $red;
                }

                .timeline-marker {
                  position: absolute;
                  top: 14px;
                  bottom: 0;
                  left: 0;
                  width: 15px;

                  &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 5px;
                    height: 5px;
                    background: $blue;
                    border: 3px solid transparent;
                    border-radius: 100%;
                    top: 0;
                    left: 2px;
                    transition:
                      background 0.3s ease-in-out,
                      border 0.3s ease-in-out;
                  }

                  &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 3px;
                    background: #ccd5db;
                    top: 15px;
                    bottom: -10px;
                    left: 6px;
                  }
                }

                .timeline-content {
                  padding: 9px 0 0;

                  section {
                    position: relative;
                    padding-bottom: 1.25em;

                    ul {
                      li {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: 0 0 30px;
                        color: $gray-text;

                        h4 {
                          flex: 0 0 100%;
                          font-size: 12px;
                          font-weight: normal;
                          padding: 0;
                          margin: 0;
                        }

                        .title {
                          font-weight: bold;
                          color: #222;
                          vertical-align: middle;

                          &:before {
                            content: ".";
                            position: absolute;
                            left: -10px;
                            top: -3px;
                          }

                          span {
                            font-weight: normal;
                            font-size: 12px;
                            margin: 0 0 0 8px;
                          }
                        }

                        .icon-area {
                          display: flex;
                          align-items: center;
                          margin: 0 0 0 5px;

                          i {
                            margin: 0 0 0 5px;
                            font-size: 16px;
                            @include transition(all 0.2s);

                            &:hover {
                              color: $blue;
                              @include transition(all 0.2s);
                            }

                            &.fa-desktop {
                              font-size: 12px;
                            }
                          }
                        }

                        .content-text {
                          flex: 0 0 100%;
                          margin: 6px 0 3px;
                        }

                        .link {
                          margin: 10px 0 0;

                          a {
                            position: relative;
                            z-index: 0;
                            display: inline-block;
                            padding: 5px 5px;
                            overflow: hidden;
                            color: #333;
                            font-size: 12px;
                            vertical-align: bottom;
                            transition: color 0.3s ease-out;

                            &:before {
                              content: "";
                              position: absolute;
                              z-index: -1;
                              top: 0;
                              left: 0;
                              transform: translateY(calc(100% - 2px));
                              width: 100%;
                              height: 100%;
                              background-image: linear-gradient(
                                60deg,
                                #eee 0%,
                                #eee 100%
                              );
                              transition: transform 0.25s ease-out;
                            }

                            &:hover {
                              color: #fff;
                            }

                            &:hover:before {
                              transform: translateY(0);
                              transition: transform 0.25s ease-out;
                              background-image: linear-gradient(
                                60deg,
                                #64b3f4 0%,
                                #c2e59c 100%
                              );
                            }
                          }
                        }

                        .info-message {
                          flex: 0 0 100%;
                          font-size: 12px;
                          margin: 10px 0 0;

                          i {
                            font-size: 13px;
                            color: $red;
                            vertical-align: middle;
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.period {
                padding: 0;

                &:first-child {
                  .timeline-marker {
                    &:before {
                      border-top: none;
                    }
                  }
                }

                .timeline-marker {
                  &:before {
                    background: transparent;
                    content: "";
                    width: 15px;
                    height: auto;
                    border: none;
                    border-radius: 0;
                    top: -5px;
                    left: 0;
                    bottom: 5px;
                    position: absolute;
                    border-top: 3px solid #ccd5db;
                    border-bottom: 3px solid #ccd5db;
                  }

                  &:after {
                    content: "";
                    height: 15px;
                    top: auto;
                  }
                }

                .timeline-content {
                  padding: 35px 0 30px;

                  @include respond-to(mobileW) {
                    padding: 35px 0 15px;
                  }
                }

                .timeline-title {
                  position: absolute;
                  left: -50px;
                  top: 75px;
                  font-size: 16px;
                  font-weight: bold;
                  margin: 0;

                  @include respond-to(mobileW) {
                    position: relative;
                    left: 0;
                    top: 0;
                  }
                }
              }
            }
          }
        }

        .read-more {
          margin: 40px auto;
        }
      }
    }

    #bottom-link-area {
      position: relative;
      width: 100%;
      padding: 100px 0 120px;

      @include respond-to(lg) {
        padding: 60px 0 100px;
      }

      .bottom-link-area-inner {
        text-align: center;

        a {
          button {
            min-width: 139px;
            margin: 0 4px;
            text-align: center;

            @include respond-to(mobileM) {
              min-width: 120px;
            }

            &.btn-default {
              border: none;
              box-shadow: 0 14px 21px 0 rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
