.comparison-slider-wrapper {
  position: relative;
  display: inline-block;
  margin: 40px auto 0;

  @include respond-to (lg) {
    margin: 20px auto 0;
  }

  @media only screen and (max-width: 1200px) {
    flex-basis: 100%;
    margin: 20px auto 60px;
  }

  @include respond-to (sm) {
    padding: 0 20px;
  }

  .bg-patterns {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;

    .tile {
      position: absolute;
      opacity: 0.2;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 4px;
        height: 4px;
        box-shadow: 
          0px 0px #fff, 0px 10px #fff, 0px 20px #fff, 0px 30px #fff, 0px 40px #fff, 0px 50px #fff, 0px 60px #fff, 0px 70px #fff, 0px 80px #fff, 0px 90px #fff, 
          10px 0px #fff, 10px 10px #fff, 10px 20px #fff, 10px 30px #fff, 10px 40px #fff, 10px 50px #fff, 10px 60px #fff, 10px 70px #fff, 10px 80px #fff, 10px 90px #fff, 
          20px 0px #fff,  20px 10px #fff,  20px 20px #fff,  20px 30px #fff, 20px 40px #fff, 20px 50px #fff, 20px 60px #fff, 20px 70px #fff, 20px 80px #fff, 20px 90px #fff, 
          30px 0px #fff, 30px 10px #fff, 30px 20px #fff, 30px 30px #fff, 30px 40px #fff, 30px 50px #fff, 30px 60px #fff, 30px 70px #fff, 30px 80px #fff, 30px 90px #fff, 
          40px 0px #fff, 40px 10px #fff, 40px 20px #fff, 40px 30px #fff, 40px 40px #fff, 40px 50px #fff, 40px 60px #fff, 40px 70px #fff, 40px 80px #fff, 40px 90px #fff, 
          50px 0px #fff, 50px 10px #fff, 50px 20px #fff, 50px 30px #fff, 50px 40px #fff, 50px 50px #fff, 50px 60px #fff, 50px 70px #fff, 50px 80px #fff, 50px 90px #fff, 
          60px 0px #fff, 60px 10px #fff, 60px 20px #fff, 60px 30px #fff, 60px 40px #fff, 60px 50px #fff, 60px 60px #fff, 60px 70px #fff, 60px 80px #fff, 60px 90px #fff, 
          70px 0px #fff, 70px 10px #fff, 70px 20px #fff, 70px 30px #fff, 70px 40px #fff, 70px 50px #fff, 70px 60px #fff, 70px 70px #fff, 70px 80px #fff, 70px 90px #fff, 
          80px 0px #fff, 80px 10px #fff, 80px 20px #fff, 80px 30px #fff, 80px 40px #fff, 80px 50px #fff, 80px 60px #fff, 80px 70px #fff, 80px 80px #fff, 80px 90px #fff,
          90px 0px #fff, 90px 10px #fff, 90px 20px #fff, 90px 30px #fff, 90px 40px #fff, 90px 50px #fff, 90px 60px #fff, 90px 70px #fff, 90px 80px #fff, 90px 90px #fff;
        border-radius: 50%;
      }
    }

    .p1 {
      margin: 450px 0 0 -35px;

      @include respond-to (wide) {
        margin: 390px 0 0 -435px;
        left: 50%;
      }
    }

    .p2 {
      margin: -40px 0 0 857px;

      @include respond-to (wide) {
        margin: -40px 0 0 350px;
        left: 50%;
      }
    }
  }

  .comparison-slider {
    position: relative;
    width: 1100px;
    margin: 0;
    border-radius: 16px;
    box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @include respond-to (full) {
      width: 800px;
    }

    @media only screen and (max-width: 1200px) {
      margin: auto;
    }

    @include respond-to (sm) {
      width: 100%;
    }

    > img {
      width: 100%;
      height: auto;
      display: block;
    }

    .resize {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden;

      > img {
        display: block;
      }
    }

    .divider {
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: $zimgo-point-color;
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      cursor: ew-resize;

      i {
        position: absolute;
        top: 50%;
        margin-top: -5px;
        color: #fff;
        font-size: 20px;

        &.ri-arrow-left-s-line {
          left: -22px;
        }

        &.ri-arrow-right-s-line {
          left: 6px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        left: -13px;
        top: 50%;
        margin-top: -10px;
        background-color: $zimgo-point-color;
        transform: rotate(45deg);
        transition: all 0.1s ease-in-out;
        cursor: ew-resize;
      }

      &:after {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        left: 0px;
        top: 50%;
        border-radius: 14px;
        margin-top: 4px;
        background-color: #fff;
        transition: all 0.1s ease-in-out;
        cursor: ew-resize;
      }

      &.draggable {
        background: #000;

        i {
          margin-top: -7px;
          font-size: 25px;

          &.ion-chevron-left {
            left: -15px;
          }

          &.ri-arrow-left-s-line {
            left: -27px;
          }
        }

        &:before {
          width: 34px;
          height: 34px;
          left: -15px;
          margin-top: -12px;
          background: #000;
        }

        &:after {
          margin-top: 3px;
        }
      }
    }
  }
}