@-webkit-keyframes sea-glow1 {0% {left: 50%;}50% {left: 52%;}}
@-moz-keyframes sea-glow1 {0% {left: 50%;}50% {left: 52%;}}
@-ms-keyframes sea-glow1 {0% {left: 50%;}50% {left: 52%;}}
@keyframes sea-glow1 {0% {left: 50%;}50% {left: 52%;}}
@-webkit-keyframes sea-glow2 {0% {left: 44%;}50% {left: 43%;}}
@-moz-keyframes sea-glow2 {0% {left: 44%;}50% {left: 43%;}}
@-ms-keyframes sea-glow2 {0% {left: 44%;}50% {left: 43%;}}
@keyframes sea-glow2 {0% {left: 44%;}50% {left: 43%;}}
@-webkit-keyframes sea-glow3 {0% {left: 52%;}50% {left: 54%;}}
@-moz-keyframes sea-glow3 {0% {left: 52%;}50% {left: 54%;}}
@-ms-keyframes sea-glow3 {0% {left: 52%;}50% {left: 54%;}}
@keyframes sea-glow3 {0% {left: 52%;}50% {left: 54%;}}
@-webkit-keyframes sea-glow4 {0% {left: 36%;}50% {left: 35%;}}
@-moz-keyframes sea-glow4 {0% {left: 36%;}50% {left: 35%;}}
@-ms-keyframes sea-glow4 {0% {left: 36%;}50% {left: 35%;}}
@keyframes sea-glow4 {0% {left: 36%;}50% {left: 35%;}}
@-webkit-keyframes sea-glow5 {0% {left: 54%;}50% {left: 56%;}}
@-moz-keyframes sea-glow5 {0% {left: 54%;}50% {left: 56%;}}
@-ms-keyframes sea-glow5 {0% {left: 54%;}50% {left: 56%;}}
@keyframes sea-glow5 {0% {left: 54%;}50% {left: 56%;}}
@-webkit-keyframes sea-glow6 {0% {left: 38%;}50% {left: 37%;}}
@-moz-keyframes sea-glow6 {0% {left: 38%;}50% {left: 37%;}}
@-ms-keyframes sea-glow6 {0% {left: 38%;}50% {left: 37%;}}
@keyframes sea-glow6 {0% {left: 38%;}50% {left: 37%;}}
@-webkit-keyframes sea-glow7 {0% {left: 48%;}50% {left: 50%;}}
@-moz-keyframes sea-glow7 {0% {left: 48%;}50% {left: 50%;}}
@-ms-keyframes sea-glow7 {0% {left: 48%;}50% {left: 50%;}}
@keyframes sea-glow7 {0% {left: 48%;}50% {left: 50%;}}
@-webkit-keyframes sea-glow8 {0% {left: 32%;}50% {left: 31%;}}
@-moz-keyframes sea-glow8 {0% {left: 32%;}50% {left: 31%;}}
@-ms-keyframes sea-glow8 {0% {left: 32%;}50% {left: 31%;}}
@keyframes sea-glow8 {0% {left: 32%;}50% {left: 31%;}}
@-webkit-keyframes sea-glow9 {0% {left: 55%;}50% {left: 57%;}}
@-moz-keyframes sea-glow9 {0% {left: 55%;}50% {left: 57%;}}
@-ms-keyframes sea-glow9 {0% {left: 55%;}50% {left: 57%;}}
@keyframes sea-glow9 {0% {left: 55%;}50% {left: 57%;}}
@-webkit-keyframes sea-glow10 {0% {left: 50%;}50% {left: 49%;}}
@-moz-keyframes sea-glow10 {0% {left: 50%;}50% {left: 49%;}}
@-ms-keyframes sea-glow10 {0% {left: 50%;}50% {left: 49%;}}
@keyframes sea-glow10 {0% {left: 50%;}50% {left: 49%;}}
@-webkit-keyframes sea-glow11 {0% {left: 85%;}50% {left: 87%;}}
@-moz-keyframes sea-glow11 {0% {left: 85%;}50% {left: 87%;}}
@-ms-keyframes sea-glow11 {0% {left: 85%;}50% {left: 87%;}}
@keyframes sea-glow11 {0% {left: 85%;}50% {left: 87%;}}
@-webkit-keyframes sea-glow12 {0% {left: 25%;}50% {left: 24%;}}
@-moz-keyframes sea-glow12 {0% {left: 25%;}50% {left: 24%;}}
@-ms-keyframes sea-glow12 {0% {left: 25%;}50% {left: 24%;}}
@keyframes sea-glow12 {0% {left: 25%;}50% {left: 24%;}}
@-webkit-keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}}
@-moz-keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}}
@-ms-keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}}
@keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}}
@-webkit-keyframes moon-glow {0% {-moz-transform: scale(1);-ms-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}50% {-moz-transform: scale(1.1);-ms-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}}
@-moz-keyframes moon-glow {0% {-moz-transform: scale(1);-ms-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}50% {-moz-transform: scale(1.1);-ms-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}}
@-ms-keyframes moon-glow {0% {-moz-transform: scale(1);-ms-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}50% {-moz-transform: scale(1.1);-ms-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}}
@keyframes moon-glow {0% {-moz-transform: scale(1);-ms-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}50% {-moz-transform: scale(1.1);-ms-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}}
@-webkit-keyframes twinkle-height {0% {height: 20px;top: -7px;}50% {height: 10px;top: -3px;}100% {height: 20px;top: -7px;}}
@-moz-keyframes twinkle-height {0% {height: 20px;top: -7px;}50% {height: 10px;top: -3px;}100% {height: 20px;top: -7px;}}
@-ms-keyframes twinkle-height {0% {height: 20px;top: -7px;}50% {height: 10px;top: -3px;}100% {height: 20px;top: -7px;}}
@keyframes twinkle-height {0% {height: 20px;top: -7px;}50% {height: 10px;top: -3px;}100% {height: 20px;top: -7px;}}
@-webkit-keyframes twinkle-width {0% {width: 20px;left: 0px;}50% {width: 10px;left: 5px;}100% {width: 20px;left: 0px;}}
@-moz-keyframes twinkle-width {0% {width: 20px;left: 0px;}50% {width: 10px;left: 5px;}100% {width: 20px;left: 0px;}}
@-ms-keyframes twinkle-width {0% {width: 20px;left: 0px;}50% {width: 10px;left: 5px;}100% {width: 20px;left: 0px;}}
@keyframes twinkle-width {0% {width: 20px;left: 0px;}50% {width: 10px;left: 5px;}100% {width: 20px;left: 0px;}}
@-webkit-keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}100% {opacity: 0;}}
@-moz-keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}100% {opacity: 0;}}
@-ms-keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}100% {opacity: 0;}}
@keyframes twinkle {0% {opacity: 0;}50% {opacity: 1;}100% {opacity: 0;}}
@-webkit-keyframes loader-bounce {0% {-webkit-transform: translate(5px, 15px);transform: translate(5px, 15px);}50% {-webkit-transform: translate(0, -15px);transform: translate(0, -15px);}100% {-webkit-transform: translate(-5px, -37px);transform: translate(-5px, -37px);opacity: 1;}}
@keyframes loader-bounce {0% {-moz-transform: translate(5px, 15px);-ms-transform: translate(5px, 15px);-webkit-transform: translate(5px, 15px);transform: translate(5px, 15px);}50% {-moz-transform: translate(0, -15px);-ms-transform: translate(0, -15px);-webkit-transform: translate(0, -15px);transform: translate(0, -15px);}100% {-moz-transform: translate(-5px, -37px);-ms-transform: translate(-5px, -37px);-webkit-transform: translate(-5px, -37px);transform: translate(-5px, -37px);opacity: 1;}}
@-webkit-keyframes wave {
  from {-webkit-transform: translateX(100px);transform: translateX(100px);}
  to {-webkit-transform: translateX(-100px);transform: translateX(-100px);}
}
@keyframes wave {
  from {-moz-transform: translateX(100px);-ms-transform: translateX(100px);-webkit-transform: translateX(100px);transform: translateX(100px);}
  to {-moz-transform: translateX(-100px);-ms-transform: translateX(-100px);-webkit-transform: translateX(-100px);transform: translateX(-100px);}
}
@-webkit-keyframes wave-left {
  from {-moz-transform: translateX(-100px);-ms-transform: translateX(-100px);-webkit-transform: translateX(-100px);transform: translateX(-100px);}
  to {-moz-transform: translateX(100px);-ms-transform: translateX(100px);-webkit-transform: translateX(100px);transform: translateX(100px);}
}
@keyframes wave-left {
  from {-moz-transform: translateX(-100px);-ms-transform: translateX(-100px);-webkit-transform: translateX(-100px);transform: translateX(-100px);}
  to {-moz-transform: translateX(100px);-ms-transform: translateX(100px);-webkit-transform: translateX(100px);transform: translateX(100px);}
}

@-webkit-keyframes animateErrorIcon {0% {-webkit-transform: rotateX(100deg);transform: rotateX(100deg);opacity: 0;}100% {-webkit-transform: rotateX(0deg);transform: rotateX(0deg);opacity: 1;}}
@keyframes animateErrorIcon {0% {-webkit-transform: rotateX(100deg);transform: rotateX(100deg);opacity: 0;}100% {-webkit-transform: rotateX(0deg);transform: rotateX(0deg);opacity: 1;}}
@-webkit-keyframes animateXLeft {0%, 65% {left: 82px;top: 95px;width: 0;}84% {left: 14px;top: 33px;width: 47px;}100% {left: 17px;top: 37px;width: 47px;}}
@keyframes animateXLeft {0%, 65% {left: 82px;top: 95px;width: 0;}84% {left: 14px;top: 33px;width: 47px;}100% {left: 17px;top: 37px;width: 47px;}}
@-webkit-keyframes animateXRight {0%, 65% {right: 82px;top: 95px;width: 0;}84% {right: 14px;top: 33px;width: 47px;}100% {right: 16px;top: 37px;width: 47px;}}
@keyframes animateXRight {0%, 65% {right: 82px;top: 95px;width: 0;}84% {right: 14px;top: 33px;width: 47px;}100% {right: 16px;top: 37px;width: 47px;}}
@-webkit-keyframes scaleWarning {0% {-webkit-transform: scale(1);transform: scale(1);}30% {-webkit-transform: scale(1.02);transform: scale(1.02);}100% {-webkit-transform: scale(1);transform: scale(1);}}
@keyframes scaleWarning {0% {-webkit-transform: scale(1);transform: scale(1);}30% {-webkit-transform: scale(1.02);transform: scale(1.02);}100% {-webkit-transform: scale(1);transform: scale(1);}}
@-webkit-keyframes pulseWarning {0% {background-color: #fff;-webkit-transform: scale(1);transform: scale(1);opacity: 0.5;}30% {background-color: #fff;-webkit-transform: scale(1);transform: scale(1);opacity: 0.5;}100% {background-color: #F8BB86;-webkit-transform: scale(2);transform: scale(2);opacity: 0;}}
@keyframes pulseWarning {0% {background-color: #fff;-webkit-transform: scale(1);transform: scale(1);opacity: 0.5;}30% {background-color: #fff;-webkit-transform: scale(1);transform: scale(1);opacity: 0.5;}100% {background-color: #F8BB86;-webkit-transform: scale(2);transform: scale(2);opacity: 0;}}
@-webkit-keyframes pulseWarningIns {0% {background-color: #F8D486;}100% {background-color: #F8BB86;}}@keyframes pulseWarningIns {0% {background-color: #F8D486;}100% {background-color: #F8BB86;}}
@-webkit-keyframes buble {0% {-webkit-transform: translate(3px, 10px);transform: translate(3px, 10px);opacity: 0;}25% {-webkit-transform: translate(0, 0px);transform: translate(0, 0px);}50% {-webkit-transform: translate(-3px, -25px);transform: translate(-3px, -25px);}75% {-webkit-transform: translate(0, -50px);transform: translate(0, -50px);opacity: 1;}100% {-webkit-transform: translate(3px, -100px);transform: translate(3px, -100px);opacity: 0;}}
@keyframes buble {0% {-moz-transform: translate(3px, 10px);-ms-transform: translate(3px, 10px);-webkit-transform: translate(3px, 10px);transform: translate(3px, 10px);opacity: 0;}25% {-moz-transform: translate(0, 0px);-ms-transform: translate(0, 0px);-webkit-transform: translate(0, 0px);transform: translate(0, 0px);}50% {-moz-transform: translate(-3px, -25px);-ms-transform: translate(-3px, -25px);-webkit-transform: translate(-3px, -25px);transform: translate(-3px, -25px);}75% {-moz-transform: translate(0, -50px);-ms-transform: translate(0, -50px);-webkit-transform: translate(0, -50px);transform: translate(0, -50px);opacity: 1;}100% {-moz-transform: translate(3px, -100px);-ms-transform: translate(3px, -100px);-webkit-transform: translate(3px, -100px);transform: translate(3px, -100px);opacity: 0;}}
@-webkit-keyframes login-airline {0% {-webkit-transform: translateX(-100px);-moz-transform: translateX(-100px);transform: translateX(-100px);}100% {-webkit-transform: translateX(110%);-moz-transform: translateX(110%);transform: translateX(110%);}}
@keyframes login-airline {0% {-webkit-transform: translateX(-100px);-moz-transform: translateX(-100px);transform: translateX(-100px);}100% {-webkit-transform: translateX(110%);-moz-transform: translateX(110%);transform: translateX(110%);}}
@-webkit-keyframes clouds-in-out {0% {right: -100px;}100% {right: 105%;}}
@keyframes clouds-in-out {0% {right: -100px;}100% {right: 105%;}}
@-webkit-keyframes sea-in-out {0% {right: -35%;opacity: 0;}20% {opacity: 0;}30% {opacity: 1;}90% {opacity: 1 }100% {right: 100%;opacity: 0.1;}}
@keyframes sea-in-out {0% {right: -35%;opacity: 0;}20% {opacity: 0;}30% {opacity: 1;}90% {opacity: 1 }100% {right: 100%;opacity: 0.1;}}
@-webkit-keyframes defaultloader {0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em;}40% {box-shadow: 0 2.5em 0 0;}}
@keyframes defaultloader {0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em;}40% {box-shadow: 0 2.5em 0 0;}}
@-webkit-keyframes login-vessel {to {transform: scale(0.7) translateY(-40%);}}
@keyframes login-vessel {to {transform: scale(0.7) translateY(-40%);}}
@-webkit-keyframes loader-bounce {0% {-webkit-transform: translate(5px, 15px);transform: translate(5px, 15px);}50% {-webkit-transform: translate(0, -15px);transform: translate(0, -15px);}100% {-webkit-transform: translate(-5px, -37px);transform: translate(-5px, -37px);opacity: 1;}}
@keyframes loader-bounce {0% {-moz-transform: translate(5px, 15px);-ms-transform: translate(5px, 15px);-webkit-transform: translate(5px, 15px);transform: translate(5px, 15px);}50% {-moz-transform: translate(0, -15px);-ms-transform: translate(0, -15px);-webkit-transform: translate(0, -15px);transform: translate(0, -15px);}100% {-moz-transform: translate(-5px, -37px);-ms-transform: translate(-5px, -37px);-webkit-transform: translate(-5px, -37px);transform: translate(-5px, -37px);opacity: 1;}}.loader-bounce {animation-name: loader-bounce;}
@keyframes flight-progress {0% {transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);}0% {width: 0;}}
@keyframes blink {0% {opacity: 0;}20% {opacity: 1;}}
@keyframes moveTree {0%,100% {transform: rotate(11deg) skewX(3deg);}50% {transform: rotate(-11deg) skewX(-3deg);}100% {transform: rotate(11deg) skewX(3deg);}}
@-webkit-keyframes sway {0%, 100% {-webkit-transform: rotateZ(7deg);transform: rotateZ(7deg);}50% {-webkit-transform: rotateZ(-5deg);transform: rotateZ(-5deg);}}
@keyframes sway {0%, 100% {-webkit-transform: rotateZ(7deg);transform: rotateZ(7deg);}50% {-webkit-transform: rotateZ(-7deg);transform: rotateZ(-7deg);}}
@-webkit-keyframes grow {0% {-webkit-transform: scaleY(0);transform: scaleY(0);opacity: 0;}50% {-webkit-transform: scaleY(1);transform: scaleY(1);opacity: 1;}100% {-webkit-transform: scaleY(0);transform: scaleY(0);opacity: 0;}}
@keyframes grow {0% {-webkit-transform: scaleY(0);transform: scaleY(0);opacity: 0;}50% {-webkit-transform: scaleY(1);transform: scaleY(1);opacity: 1;}100% {-webkit-transform: scaleY(0);transform: scaleY(0);opacity: 0;}}
@-webkit-keyframes rotating {from {-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}to {-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotating {from {-ms-transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}to {-ms-transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}}.rotating {-webkit-animation: rotating 2s linear infinite;-moz-animation: rotating 2s linear infinite;-ms-animation: rotating 2s linear infinite;-o-animation: rotating 2s linear infinite;animation: rotating 2s linear infinite;}
@-moz-keyframes fadeInUp {from {opacity: 0;transform: translate3d(0, 100%, 0);}to {opacity: 1;transform: none;}}
@-webkit-keyframes fadeInUp {from {opacity: 0;transform: translate3d(0, 100%, 0);}to {opacity: 1;transform: none;}}
@keyframes fadeInUp {from {opacity: 0;transform: translate3d(0, 100%, 0);}to {opacity: 1;transform: none;}}.fadeInUp {animation-name: fadeInUp;}
@-webkit-keyframes sea-sun {from {background: #91cdff;}to {background: #140e35;}}
@keyframes sea-sun {from {background: #91cdff;}to {background: #140e35;}}
@-webkit-keyframes mountain-bg {from {border-color: transparent transparent #9e9e9e transparent;}to {border-color: transparent transparent #395886 transparent;}}
@keyframes mountain-bg {from {border-color: transparent transparent #9e9e9e transparent;}to {border-color: transparent transparent #395886 transparent;}}
@-webkit-keyframes sea-wave {50% {transform: translateX(-20px);}}
@keyframes sea-wave {50% {transform: translateX(-20px);}}