.request-select {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: auto;

  .computer {
    position: relative;
    width: 100%;
    margin: 16px auto 0;
  
    .computer-content {
      position: relative;
      width: 145px;
      height: auto;
      margin: auto;

      .figure {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        i {
          position: absolute;
          font-size: 10px;
          color: $gray-text;
          font-weight: bold;
        }

        .close {
          i {
            color: #ffb3a4;
            -webkit-animation: close-bop .65s ease-in-out alternate infinite;
            animation: close-bop .65s ease-in-out alternate infinite;

            @-webkit-keyframes close-bop {
              to {transform: translateY(0%);}
              from {transform: translateY(-40%);}
            }
            
            @keyframes close-bop {
              to {transform: translateY(0%);}
              from {transform: translateY(-40%);}
            }
            
            &:nth-child(1) {
              top: -14px;
              left: 50%;
              margin: 0 0 0 -9px;
            }

            &:nth-child(2) {
              top: -14px;
              right: 25px;
              animation-duration: 1s;
            }

            &:nth-child(3) {
              left: -17px;
              top: 27px;
            }

            &:nth-child(4) {
              right: 13px;
              bottom: 10px;
              animation-duration: 1s;
            }

            &:nth-child(5) {
              right: -10px;
              bottom: 30px;
            }
          }
        }

        .circle {
          i {
            transform: scale(0.6);
            -webkit-animation: circle-bop .65s ease-in-out alternate infinite;
            animation: circle-bop .65s ease-in-out alternate infinite;

            @-webkit-keyframes circle-bop {
              to {transform: scale(0.6) translateY(0%);}
              from {transform: scale(0.6) translateY(-40%);}
            }
            
            @keyframes circle-bop {
              to {transform: scale(0.6) translateY(0%);}
              from {transform: scale(0.6) translateY(-40%);}
            }

            &:nth-child(1) {
              top: -26px;
              left: 5px;
              animation-duration: 1s;
            }

            &:nth-child(2) {
              top: -23px;
              left: 50%;
              margin: 0 0 0 14px;
            }

            &:nth-child(3) {
              left: -30px;
              top: 50px;
              animation-duration: 1s;
            }

            &:nth-child(4) {
              right: -17px;
              top: 10px;
            }
          }
        }
      }

      .gear {
        position: absolute;
        top: 0;
        left: -25px;
        font-size: 25px;
        color: #D1D5ED;

        i {
          &.ri-settings-4-line {
            position: absolute;
            -webkit-animation: rotation 3s infinite linear;
            animation: rotation 3s infinite linear;
          }

          @-webkit-keyframes rotation {from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
          @keyframes rotation {from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}

          &:last-child {
            font-size: 18px;
            top: -13px;
            left: 17px;
          }
        }
      }

      .rhythm {
        position: absolute;
        width: 40px;
        height: 20px;
        left: 20px;
        top: -25px;

        .line {
          width: 6px;
          position: absolute;
          border-radius: 5px;
          bottom: 0;
          background: #ed287b;
        }
      
        .line1 {
          height: 40%;
          left: 0;
          -webkit-animation: line-grow 0.5s ease alternate infinite;
          animation: line-grow 0.5s ease alternate infinite;
        }
      
        .line2 {
          height: 60%;
          left: 10px;
          -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
          animation: line-grow 0.5s 0.2s ease alternate infinite;
        }
      
        .line3 {
          height: 80%;
          left: 20px;
          -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
          animation: line-grow 0.5s 0.4s ease alternate infinite;
        }

        .line4 {
          height: 100%;
          left: 30px;
          -webkit-animation: line-grow 0.5s 0.6s ease alternate infinite;
          animation: line-grow 0.5s 0.6s ease alternate infinite;
        }

        @-webkit-keyframes line-grow {0% {height: 0;} 100% {height: 75%;}}
        @keyframes line-grow {0% {height: 0;} 100% {height: 75%;}}
      }

      .pie {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -17px;
        top: 50%;
        transform: translateY(-50%);
        margin: -10px auto 0;
        z-index: 2;

        &-svg {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: visible;
        }
        &-circle {
          fill: transparent;
          stroke-dashoffset: 25;
          stroke-width: 32;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
        .pie-a {
          stroke: #ed287b;
          stroke-dasharray: 65, 35, 0, 0;
          animation-name: pie-a;
        }
        .pie-b {
          stroke: #fd6ba8;
          stroke-dasharray: 0, 65, 18, 17; transform: translate(-7%, -2%);
          animation-name: pie-b;
        }
        .pie-c {
          stroke: #ffaed0;
          stroke-dasharray: 0, 83, 17, 0; transform: translate(-6%, -9%);
          animation-name: pie-c;
        }
        .pie-base {
          stroke: #fff;
          stroke-dasharray: 0, 65, 35, 0;
          animation-name: pie-base;
        }

        @keyframes pie-a {
          0% {stroke-dasharray: 0, 0, 0, 100;}
          100% {stroke-dasharray: 65, 35, 0, 0;}
        }
        @keyframes pie-b {
          0% {stroke-dasharray: 0, 0, 0, 100;}
          90% {transform: none;}
          100% {stroke-dasharray: 0, 65, 18, 17; transform: translate(-7%, -2%);}
        }
        @keyframes pie-c {
          0% {stroke-dasharray: 0, 0, 0, 100;}
          90% {transform: none;}
          100% {stroke-dasharray: 0, 83, 17, 0; transform: translate(-6%, -9%);}
        }
        @keyframes pie-base {
          0% {stroke-dasharray: 0, 0, 0, 100;}
          100% {stroke-dasharray: 0, 65, 35, 0;}
        }
      }

      .monitor {
        position: relative;
        width: 145px;
        height: 85px;
        background: #efecfd;
        border-radius: 12px;
        margin: auto;
        padding: 4px;
        overflow: auto;

        .browser {
          position: relative;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          text-align: center;
          border-radius: 10px;
          background: #fff;

          .title {
            position: absolute;
            font-size: 45px;
            font-weight: bold;
            color: #D1D5ED;
            top: 50%;
            left: 0;
            right: 0;
            margin: -4px auto 0;
            transform: translateY(-50%);
          }

          .inner-figure {
            .circleloader {
              position: absolute;
              width: 40%;
              height: 6px;
              padding: 1px;
              left: 0;
              right: 0;
              margin: auto;
              bottom: 6px;
              border-radius: 16px;
              background: #efecfd;

              &:before {
                content: "";
                position: absolute;
                border-radius: 16px;
                width: 20px;
                height: 4px;
                left: 0;
                background: #ed287b;
                -webkit-animation: circleloader 1s infinite linear;
                        animation: circleloader 1s infinite linear;
              }

              @-webkit-keyframes circleloader {50% {left: 32px;}}
              @keyframes circleloader {50% {left: 32px;}}
            }
          }

          .semiconductor {
            > div {
              position: absolute;

              span {
                position: relative;
                display: inline-block;
                width: 20px;
                border-bottom: 1px solid #d1d5ed;

                &:before, &:after {
                  position: absolute;
                  content: "";
                  width: 3px;
                  height: 3px;
                  bottom: -2px;
                  border-radius: 30px;
                }

                &:before {
                  right: 0;
                  background: #d1d5ed;
                }

                &:after {
                  width: 1px;
                  height: 1px;
                  border: 1px solid #d1d5ed;
                  left: 0;
                  background: #fff;
                }
              }
            }

            .semiconductor-a {
              left: 26px;
              top: 15px;

              span {
                &:before {
                  content: none;
                }

                &:after {
                  width: 3px;
                  height: 3px;
                  border: none;
                  background: #d1d5ed;
                }
              }
            }

            .semiconductor-b {
              top: 1px;
              left: 53px;
            }

            .semiconductor-c {
              right: 53px;
              top: 7px;

              &:before, &:after {
                position: absolute;
                content: "";
                border-bottom: 1px solid #d1d5ed;
              }

              &:before {
                width: 10px;
              }

              &:after {
                width: 7px;
                transform: rotate(30deg);
                left: 9px;
                top: 2px;
              }

              span {
                position: absolute;
                width: 14px;
                top: 4px;
                left: 15px;

                &:after {
                  content: none;
                }
              }
            }

            .semiconductor-d {
              bottom: 16px;
              left: 33px;
            }

            .semiconductor-e {
              right: 53px;
              bottom: 18px;

              &:before, &:after {
                position: absolute;
                content: "";
                border-bottom: 1px solid #d1d5ed;
              }

              &:before {
                width: 16px;
              }

              &:after {
                width: 8px;
                transform: rotate(30deg);
                left: 15px;
                top: 2px;
              }

              span {
                position: absolute;
                width: 14px;
                top: 4px;
                left: 22px;

                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
      
      .stand {
        position: relative;
        z-index: 2;

        .center {
          position: relative;
          width: 25px;
          height: 16px;
        }
  
        .feet {
          position: relative;
          width: 60px;
          height: 8px;
          margin: auto;
  
          &:after {
            content: '';
            position: absolute;
            width: 35px;
            height: 8px;
            background: #e6e3f9;
            border-radius: 0 10px 0;
            margin: 0 auto;
            right: 0;
            left: 0;
            transform: translateX(16px);
          }
        }
      }
      
      .shadow {
        position: absolute;
        width: 130px;
        height: 10px;
        background: #f8f7ff;
        border-radius: 50%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -5px;
      }
    }
  }

  .ai-human {
    position: absolute;
    width: 60px;
    bottom: -10px;
    left: 25px;
    z-index: 2;
  }

  .forwarder-animated {
    position: relative;
    width: 70%;
    margin: auto;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -8px;
      right: -8px;
      border-radius: 6px;
      background: #efecfd;
    }

    .forwarder-list {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 5px;
      border-radius: 6px;
      box-shadow: 0 2px 4px rgba(207, 197, 255, 0.15), 0 9px 14px -6px rgba(176, 160, 254, 0.4);
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        border-radius: 6px;
        background: #fff;
      }

      .item {
        position: relative;
        overflow: auto;
        padding: 5px 5px 0;
        background: #fff;
        transform: scale(1) translateY(0);
        animation: forwarder-list 3s ease-in-out forwards infinite;
        z-index: 3;

        @keyframes forwarder-list {
          0%, 20% {opacity: 1; transform: scale(1) translateY(0);}
          40%, 50% {opacity: 0; transform: scale(0.6) translateY(0);}
          70%, 100% {opacity: 1; transform: scale(1) translateY(0);}
        }

        ~ .item {
          animation-delay: 300ms;
      
          ~ .item {
            animation-delay: 600ms;
          }
        }
      
        .avatar {
          position: relative;
          float: left;
          width: 26px;
          height: 26px;
          text-align: center;
          margin-right: 6px;
          background: #efecfd;
          border-radius: 6px;

          i {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            font-size: 20px;
            color: rgba(0,0,0,0.1);
          }
        }
      
        .line {
          display: block;
          background: #efecfd;
          width: 40px;
          height: 8px;
          margin: 2px 0 4px;
          border-radius: 4px;
          margin: 3px 0 4px 34px;
      
          ~ .line {
            width: 80px;
          }
        }

        i {
          &.ri-check-line {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 17px;
            color: #ed287b;
          }
        }
      }
    }

    .girl {
      position: absolute;
      bottom: -20px;
      right: 20px;
      z-index: 3;

      .body {
        width: 44px;
      }
      
      .hand {
        position: absolute;
        width: 10px;
        left: -5px;
        top: -7px;
        animation: girl-hand 2s ease infinite;
        transform-origin: bottom;
      }

      @-webkit-keyframes girl-hand {
        0% {transform: rotate(0deg)};
        50% {transform: rotate(10deg)};
        100% {transform: rotate(0deg)};
      }

      @keyframes girl-hand {
        0% {transform: rotate(0deg)};
        50% {transform: rotate(10deg)};
        100% {transform: rotate(0deg)};
      }
    }
  }

  .history-animated {
    position: relative;
    width: 70%;
    margin: auto;

    .quotes-list {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      .list {
        position: relative;
        padding: 5px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(207, 197, 255, 0.15), 0 9px 14px -6px rgba(176, 160, 254, 0.4);
        border-radius: 6px;
        margin: 5px 0 0;
        animation: quotes-list 3s ease-in-out forwards infinite;
        z-index: 3;

        @keyframes quotes-list {
          0%, 20% {
            opacity: 1;
            transform: scale(1) translateY(0);
          }
        
          40%, 50% {
            opacity: 0;
            transform: scale(0.6) translateY(0);
          }

          70%, 100% {
            opacity: 1;
            transform: scale(1) translateY(0);
          }
        }

        ~ .list {
          animation-delay: 300ms;
      
          ~ .list {
            animation-delay: 600ms;
          }
        }

        .avatar {
          position: relative;
          float: left;
          width: 24px;
          height: 24px;
          margin-right: 6px;
          background: #efecfd;
          border-radius: 6px;
        }
      
        .line {
          display: block;
          background: #efecfd;
          width: 40px;
          height: 6px;
          margin: 2px 0 4px;
          border-radius: 4px;
          margin: 3px 0 4px 34px;
      
          ~ .line {
            width: 80px;
          }
        }

        .fare {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          font-weight: bold;
          color: #ed287b;
          font-size: 17px;
        }
      }
    }

    .forwarder-human {
      position: absolute;
      width: 50px;
      height: 104px;
      left: 35px;
      bottom: -19px;
      z-index: 4;

      > img {
        position: absolute;
        width: 40px;
      }

      .forwarder-left-hand {
        width: 30px;
        top: 10px;
        right: -8px;
        animation: hand 2s ease infinite;
        transform-origin: bottom;
      }

      @-webkit-keyframes left-hand {
        0% {transform: rotate(0deg)};
        50% {transform: rotate(10deg)};
        100% {transform: rotate(0deg)};
      }

      @keyframes left-hand {
        0% {transform: rotate(0deg)};
        50% {transform: rotate(10deg)};
        100% {transform: rotate(0deg)};
      }

      .forwarder-right-hand {
        top: 31px;
        left: 1px;
        z-index: 4;
      }

      .forwarder-body {
        width: 40px;
        left: 0;
      }
    }
  }
}