
  <head>
    <!-- Google tag (gtag.js) -->
     <script>
      if (localStorage.getItem('exclude_me') === 'true') {
        window['ga-disable-G-1YPPC3E88M'] = true;
      }
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1YPPC3E88M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      // 2초 뒤에만 GA4에 데이터를 전송 (0초 봇 방지)
      setTimeout(function() {
        gtag('config', 'G-1YPPC3E88M');
      }, 2000); 
    </script>
     
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow">
    
    <title>joong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="stylesheet" href="/css/joong.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css"> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/xeicon/xeicon.css">
    <link rel="stylesheet" href="/fonts/pretendard.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  </head>
