<header id="header">
  <div class="header-sroll">
    <div class="inner">
      <div class="logo">
        <a href="/" data-hover><img src="/images/common/logo.png" alt="Logo"></a>
      </div>

      <div class="navigation">
        <input type="checkbox" class="navigation-checkbox" id="nav-toggle">
        <label for="nav-toggle" class="navigation-button">
          <span class="navigation-icon" aria-label="toggle navigation menu"></span>
        </label>
        <div class="navigation-background"></div>
  
        <nav class="nav" role="navigation">
          <ul>
            <li>
              <a href="/" data-hover data-analytics="About_click">About</a>
            </li>
            <li>
              <a href="/featured/" data-hover data-analytics="Featured_click">Featured</a>
            </li>
            <li>
              <a href="/work" data-hover data-analytics="Work_click">Work</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
