#featured-detail-wrap {
  .featured-zimgo-wrap {
    .design-content {
      .design-content-inner {
        position: relative;

        section {
          .title-area {
            .section-title {
              color: $zimgo-point-color;
            }
          }

          &#zimgo-intro-top {
            position: relative;
            width: 100%;
            height: clamp(520px, 60vw, 680px);
            overflow: hidden;
            background-image: url("/images/featured/zimgo/zimgo-top-bg.jpg");
            background-size: cover;
            background-position: center center;
            // background-position-y: -300px;
            overflow: hidden;

            .zimgo-intro-top-inner {
              position: relative;
              width: 100%;
              height: 100%;
              padding: 0 20px;
              margin: auto;
              text-align: center;
              color: #fff;

              .title-area {
                margin: 10px 0 0;

                h1 {
                  img {
                    width: 9vw;
                    min-width: 120px;
                  }
                }
              }
            }
          }

          &#summary-area {
            .zimgo-main-img {
              position: relative;
              margin: 0 auto;
              text-align: center;

              img {
                max-width: 640px;
                margin: -70px 0 0 -80px;

                @include respond-to (mobileW) {
                  max-width: 100%;
                }

                &.phone {
                  position: absolute;
                  width: 255px;
                  left: 50%;
                  margin: 40px 0 0;

                  @include respond-to (mobileW) {
                    width: 165px;
                    margin: -20px 0 0px -20px;
                  }
                }
              }
            }
          }

          &#zimgo-guide {
            padding: 80px 20px 140px;
            background: $gray-bg;

            @include respond-to (lg) {
              padding: 40px 20px 80px;
            }

            @include respond-to (mobileW) {
              padding: 30px 20px 60px;
            }

            .zimgo-guide-inner {
              position: relative;
              text-align: center;

              .guide-title-area {
                margin: 0 0 30px;

                .overview-title {
                  font-size: 20px;
                  font-weight: bold;
                }
              }

              .slide-window {
                position: relative;
                width: 1200px;
                height: auto;
                margin: auto;
                border-radius: 20px;
                box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.1);
                overflow: hidden;

                @include respond-to (full) {
                  width: 100%;
                }

                .slide-holder {
                  margin-left: 0;
                  transition: margin-left 1s;

                  .slide {
                    height: auto;
                    float: left;

                    img {
                      float: left;
                      width: 100%;
                    }
                  }
                }
              }

              .slide-nav {
                position: absolute;
                width: 100%;
                height: 20px;
                left: 0;
                bottom: -50px;
                text-align: center;
                z-index: 100;

                @include respond-to (mobileW) {
                  bottom: -45px;
                }

                .slide-nav-bt {
                  width: 12px;
                  height: 12px;
                  background-color: rgba(0, 0, 0, 0.2);
                  border-radius: 50%;
                  display: inline-block;
                  margin: 0 2px;
                  cursor: pointer;

                  @include respond-to (mobileW) {
                    width: 10px;
                    height: 10px;
                  }
                
                  &.active {
                    background-color: $zimgo-point-color;
                  }
                }
              }
              
              // .carousel {
              //   position: relative;
              //   display: flex;
              //   flex-direction: column;
              //   width: 1200px;

              //   @include respond-to (lg) {
              //     width: 100%;
              //   }
              
              //   .slides {
              //     display: flex;
              //     padding: 0;
              //     margin: 0;
              //     border-radius: 20px;
              //     overflow: hidden;
              //     scroll-behavior: smooth;
              //     scroll-snap-type: x mandatory;
              //     overscroll-behavior: contain;
              //     box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
              
              //     img {
              //       float: left;
              //       width: 1200px;
              //       scroll-snap-align: start;
              //     }
              //   }
              
              //   .nav-dots {
              //     display: flex;
              //     padding: 40px 0 0 0;
              //     margin: 0 auto;
              
              //     .dot a {
              //       position: relative;
              //       display: block;
              //       width: 10px;
              //       height: 10px;
              //       margin: 0 3px;
              
              //       &::before {
              //         position: absolute;
              //         content: "";
              //         width: 100%;
              //         height: 100%;
              //         background: rgba(0, 0, 0, 0.2);
              //         border-radius: 50%;
              //       }
              
              //       &:hover::before {
              //         background: rgba(0, 0, 0, 0.4);
              //       }
              
              //       &.active::before {
              //         background: rgba(0, 0, 0, 0.6);
              //       }
              //     }
              //   }
              
              //   .nav-arrows {
              //     margin: 0;
                  
              //     @include respond-to (lg) {
              //       display: none;
              //     }
              
              //     li {
              //       position: absolute;
              //       bottom: calc(50%);
              //       width: 2em;
              //       height: 2em;
              //       border: 5px solid rgba(0, 0, 0, 0.1);
              //       cursor: pointer;
              
              //       &.arrow-left {
              //         left: -50px;
              //         border-right-color: transparent;
              //         border-bottom-color: transparent;
              //         transform: rotate(-45deg);
              //         transition: 1s cubic-bezier(0.2, 1, 0.3, 1);
              //       }
              
              //       &.arrow-right {
              //         right: -50px;
              //         border-left-color: transparent;
              //         border-bottom-color: transparent;
              //         transform: rotate(45deg);
              //         transition: 1s cubic-bezier(0.2, 1, 0.3, 1);
              //       }
              
              //       &.arrow-left {
              //         &:hover {
              //           border-left-color: #222;
              //           border-top-color: #222;
              //         }
              //       }
              
              //       &.arrow-right {
              //         &:hover {
              //           border-right-color: #222;
              //           border-top-color: #222;
              //         }
              //       }
              //     }
              //   }
              // }
              
              @keyframes fadeToLeft {
                5% {
                  transform: translate(10%, 10%);
                }
              
                to {
                  transform: translate(-100%, -100%);
                  opacity: 0;
                }
              }
              
              @keyframes fadeToRight {
                5% {
                  transform: translate(-10%, 10%);
                }
              
                to {
                  transform: translate(100%, -100%);
                  opacity: 0;
                }
              }
              
            }
          }

          &#icon-font-area {
            .icon-font-area-inner {
              .icon-list {
                ul {
                  li {
                    i {
                      font-size: 22px;
                    }
                  }
                }
              }
            }
          }

          &#page-view-area {
            padding: 90px 0 120px;
            overflow: hidden;

            @include respond-to (md) {
              padding: 40px 0;
            }

            .page-view-area-inner {
              .text-area {
                .title {
                  font-size: 22px;
                  font-weight: bold;
                  padding: 30px 0 0;

                  @include respond-to (wide) {
                    padding: 20px 0 0;
                  }

                  span {
                    color: $zimgo-point-color;
                  }
                }

                .sub-text {
                  margin: 5px 0 0;
                }
              }

              .dashboard-area {
                margin: auto;
                text-align: center;
              }

              .right-img-height-area {
                position: relative;
                height: 500px;
                margin: 160px 0 0;
                z-index: 2;

                @include respond-to (lg) {
                  height: 100%;
                  padding: 0 20px;
                  margin: 80px 0 0;
                }

                @include respond-to (md) {
                  margin: 40px 0 0;
                }

                .inner {
                  display: flex;
                  margin: auto;

                  @include respond-to (lg) {
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                  }

                  .text-area {
                    position: absolute;
                    left: 50%;
                    margin: 0 0 0 -540px;

                    @include respond-to (wide) {
                      margin: 0 0 0 -420px;
                    }

                    @include respond-to (lg) {
                      position: relative;
                      flex-basis: 100%;
                      left: 0;
                      margin: 0 0 20px;
                    }
                  }
    
                  .img-area {
                    position: absolute;
                    left: 50%;
                    margin: 0 0 0 -110px;

                    @include respond-to (lg) {
                      position: relative;
                      left: auto;
                      margin: auto;
                    }

                    img {
                      width: 1000px;
                      border-radius: 16px;
                      box-shadow: 0 32px 30px -12px rgba(0, 0, 0, 0.1);

                      @include respond-to (wide) {
                        width: 800px;
                      }

                      @include respond-to (sm) {
                        width: 100%;
                      }

                      &.quotes-box-white, &.quotes-box-dark {
                        position: absolute;
                        width: 300px;

                        @include respond-to (lg) {
                          width: 240px;
                        }
                      }

                      &.quotes-box-white {
                        position: absolute;
                        left: 415px;
                        bottom: 262px;

                        @include respond-to (wide) {
                          left: 285px;
                          bottom: 172px;
                        }

                        @include respond-to (lg) {
                          left: 327px;
                          bottom: 211px;
                        }
                      }

                      &.quotes-box-dark {
                        left: 132px;
                        bottom: 9px;

                        @include respond-to (wide) {
                          left: 76px;
                          bottom: -27px;
                        }

                        @include respond-to (lg) {
                          left: 102px;
                          bottom: 3px;
                        }
                      }

                      &.quotes-menu01, &.quotes-menu02, &.quotes-menu03, &.quotes-menu04, &.quotes-menu05, &.quotes-menu06 {
                        position: absolute;
                        width: 120px;
                        box-shadow: 0 14px 20px 0 rgba(0,0,0,0.1);

                        @include respond-to (lg) {
                          display: none;
                        }
                      }

                      &.quotes-menu01 {
                        left: -350px;
                        bottom: 190px;
                      }

                      &.quotes-menu02 {
                        left: -260px;
                        bottom: 20px;
                      }

                      &.quotes-menu03 {
                        left: -400px;
                        bottom: 100px;
                      }

                      &.quotes-menu04 {
                        width: 130px;
                        left: -160px;
                        bottom: 210px;
                        box-shadow: 0 14px 20px 0 rgba(237, 40, 123, 0.35);
                      }

                      &.quotes-menu05 {
                        left: -310px;
                        bottom: 144px;
                      }

                      &.quotes-menu06 {
                        left: -200px;
                        bottom: 100px;
                      }
                    }
                  }
                }
              }

              .right-img-area {
                position: relative;
                height: 640px;
                margin: 160px 0 0;
                z-index: 2;

                @include respond-to (lg) {
                  height: 100%;
                  margin: 0;
                }

                .inner {
                  display: flex;
                  width: 1200px;
                  margin: auto;

                  @include respond-to (full) {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 0 20px;
                  }

                  .text-area {
                    .requirements {
                      position: absolute;
                      bottom: 40px;

                      @include respond-to (wide) {
                        bottom: 150px;
                      }

                      @include respond-to (lg) {
                        display: none;
                      }

                      ul {
                        li {
                          display: flex;
                          margin: 0 0 15px;

                          &:first-child {
                            .tooltip-box {
                              background: $zimgo-point-color;

                              &:after {
                                border-right-color: $zimgo-point-color;
                              }
                            }
                          }

                          &:last-child {
                            margin: 0;
                          }

                          .tooltip-box {
                            position: relative;
                            display: block;
                            min-width: 90px;
                            color: #fff;
                            font-size: 12px;
                            margin: 0 0 0 10px;
                            border-radius: 10px;
                            text-align: center;
                            padding: 10px;
                            background: #000;

                            &:after {
                              border-left: solid transparent 6px;
                              border-right: solid #000 6px;
                              border-bottom: solid transparent 6px;
                              border-top: solid transparent 6px;
                              bottom: -2px;
                              top: 0;
                              content: " ";
                              height: 0;
                              left: -12px;
                              margin: auto;
                              position: absolute;
                              width: 0;
                            }

                            .typing {
                              display: inline-block;
                              width: 10px;
                              height: 10px;
                              background: rgba(255, 255, 255, 0.4);
                              border-radius: 50%;
                              
                              &.typing-1 { animation: typing 2s infinite }
                              &.typing-2 { animation: typing 2s 250ms infinite }
                              &.typing-3 { animation: typing 2s 500ms infinite }
                            }

                            @keyframes typing {
                              0%, 75%, 100% {
                                transform: translate(0, 0.25rem) scale(0.9);
                                opacity: 0.5;
                              }
                              
                              25% {
                                transform: translate(0, -0.25rem) scale(1);
                                opacity: 1;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
    
                  .img-area {
                    position: absolute;
                    left: 50%;
                    margin: 0 0 0 -90px;

                    @include respond-to (lg) {
                      position: relative;
                      left: auto;
                      margin: 20px auto 0;
                    }

                    img {
                      width: 1000px;
                      border-radius: 16px;
                      box-shadow: 0 32px 30px -12px rgba(0, 0, 0, 0.1);

                      @include respond-to (wide) {
                        width: 800px;
                      }

                      @include respond-to (sm) {
                        width: 100%;
                      }

                      &.cargo-box-white, &.cargo-box-dark {
                        position: absolute;
                        width: 321px;

                        @include respond-to (lg) {
                          width: 271px;
                        }

                        @include respond-to (sm) {
                          display: none;
                        }
                      }

                      &.cargo-box-white {
                        position: absolute;
                        left: 117px;
                        bottom: 192px;

                        @include respond-to (wide) {
                          left: 67px;
                          bottom: 157px;
                        }

                        @include respond-to (lg) {
                          left: -360px;
                          right: 0;
                          bottom: 148px;
                          margin: auto;
                        }
                      }

                      &.cargo-box-dark {
                        left: 396px;
                        bottom: 24px;

                        @include respond-to (wide) {
                          left: 286px;
                          bottom: -16px;
                        }

                        @include respond-to (lg) {
                          left: 90px;
                          right: 0;
                          margin: auto;
                          bottom: 5px;
                        }
                      }
                    }
                  }
                }
              }

              .left-img-height-area {
                position: relative;
                height: 1100px;
                padding: 300px 0 0;
                background: $gray-bg;
                z-index: 1;

                @include respond-to (wide) {
                  height: 820px;
                  padding: 180px 0 0;
                }

                @include respond-to (lg) {
                  height: 100%;
                  padding: 80px 0;
                  margin: 80px 0 0;
                }

                @include respond-to (md) {
                  padding: 40px 0;
                  margin: 40px 0 0;
                }

                .inner {
                  display: flex;
                  width: 1200px;
                  margin: auto;
                  justify-content: end;

                  @include respond-to (full) {
                    width: 100%;
                    padding: 0 20px;
                  }

                  @include respond-to (lg) {
                    display: block;
                    text-align: center;
                  }

                  .text-area {
                    @include respond-to (wide) {
                      position: absolute;
                      left: 50%;
                    }

                    @include respond-to (lg) {
                      position: relative;
                      left: auto;
                      margin: 0 0 20px;
                    }
                  }
    
                  .img-area {
                    position: absolute;
                    left: 50%;
                    margin: 0 0 0 -890px;

                    @include respond-to (lg) {
                      position: relative;
                      left: auto;
                      margin: auto;
                    }

                    img {
                      width: 1000px;
                      border-radius: 16px;
                      box-shadow: 0 32px 30px -12px rgba(0, 0, 0, 0.1);

                      @include respond-to (wide) {
                        width: 800px;
                      }

                      @include respond-to (sm) {
                        width: 100%;
                      }

                      &.grid-list {
                        position: absolute;
                        left: 123px;
                        bottom: 51px;

                        @include respond-to (wide) {
                          left: 93px;
                        }

                        @include respond-to (lg) {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }

              .left-img-area {
                position: relative;
                height: 800px;
                padding: 140px 0 0;
                z-index: 1;

                @include respond-to (wide) {
                  height: 660px;
                }

                @include respond-to (lg) {
                  height: 100%;
                  padding: 40px 20px;
                }

                .inner {
                  display: flex;
                  width: 1200px;
                  margin: auto;
                  justify-content: end;

                  @include respond-to (full) {
                    display: block;
                    width: 100%;
                  }

                  .text-area {
                    @include respond-to (wide) {
                      position: absolute;
                      left: 50%;
                      margin: 0 0 0 40px;
                    }

                    @include respond-to (lg) {
                      position: relative;
                      left: auto;
                      margin: 0 0 20px;
                      text-align: center;
                    }
                  }
    
                  .img-area {
                    position: absolute;
                    left: 50%;
                    margin: 0 0 0 -890px;

                    @include respond-to (lg) {
                      position: relative;
                      left: 0;
                      margin: auto;
                      text-align: center;
                    }

                    img {
                      width: 1000px;
                      border-radius: 16px;
                      box-shadow: 0 32px 30px -12px rgba(0, 0, 0, 0.1);

                      @include respond-to (wide) {
                        width: 800px;
                      }

                      @include respond-to (sm) {
                        width: 100%;
                      }

                      &.grid-list {
                        position: absolute;
                        left: 143px;
                        bottom: 51px;
                      }

                      &.document-list-dark {
                        position: absolute;
                        width: 960px;
                        left: 133px;
                        bottom: 35px;

                        @include respond-to (wide) {
                          width: 730px;
                          left: 111px;
                        }

                        @include respond-to (lg) {
                          width: 680px;
                          left: 0;
                          right: -108px;
                          margin: auto;
                        }

                        @include respond-to (sm) {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }

              .center-img-area {
                position: relative;
                margin: 100px 0 0;
                padding: 0 20px;

                @include respond-to (lg) {
                  margin: 80px 0 0;
                }

                @include respond-to (md) {
                  margin: 40px 0 0;
                }

                .inner {
                  position: relative;
                  width: 1200px;
                  margin: auto;

                  @include respond-to (full) {
                    width: 100%;
                  }

                  .text-area {
                    text-align: center;
                  }
    
                  .img-area {
                    position: relative;
                    margin: 40px 0 0;

                    @include respond-to (lg) {
                      margin: 20px 0 0;
                      text-align: center;
                    }

                    img {
                      width: 880px;
                      border-radius: 16px;
                      box-shadow: 0 32px 30px -12px rgba(0, 0, 0, 0.1);

                      @include respond-to (wide) {
                        width: 600px;
                      }

                      @include respond-to (sm) {
                        width: 100%;
                      }

                      &.message-white {
                        margin: 80px 0 0;
                      }

                      &.message-dark {
                        position: absolute;
                        left: clamp(40px,8vw,120px);
                      }

                      &.message-side-dark {
                        position: absolute;
                        width: 231px;
                        right: -40px;

                        @include respond-to (wide) {
                          width: 168px;
                          right: 0;
                        }

                        @include respond-to (sm) {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &#mobile-area {
            &.dark {
              background: #081b2b;
              color: $zimgo-point-color;

              .mobile-img-dark {
                display: block;
              }

              .mobile-img {
                display: none;
              }
            }

            .tdnn {
              margin: 0 auto;
              font-size: 30%;
              margin: 40px auto 60px;
              position: relative;
              height: 40px;
              width: 115px;
              border-radius: 100px;
              transition: all 500ms ease-in-out;
              background: #192936;

              &.day {
                background: $tradlinx-blue;
                transition: all 500ms ease-in-out;
              }

              .sun {
                position: absolute;
                top: 10px;
                left: 14px;
                border-radius: 50px;
                transform: rotate(0deg);
                width: 20px;
                height: 20px;
                background: #fff;
                transition: all 400ms ease-in-out;
                box-shadow:
                  8.57px 8.57px 0 14.29px #fff inset,
                  0 -14.29px 0 -7.71px #fff,
                  10px -10px 0 -8.57px #fff,
                  14.29px 0 0 -7.71px #fff,
                  10px 10px 0 -8.57px #fff,
                  0 14.29px 0 -7.71px #fff,
                  -10px 10px 0 -8.57px #fff,
                  -14.29px 0 0 -7.71px #fff,
                  -10px -10px 0 -8.57px #fff;
              }

              .moon {
                position: absolute;
                display: block;
                border-radius: 50%;
                transition: all 400ms ease-in-out;
                top: 5px;
                left: 79px;
                width: 30px;
                height: 30px;
                background: #192936;
                transform: rotate3d(-70, 90, 6, 170deg);
                box-shadow: 
                  2.5em 2em 0 0em #D9FBFF inset, 
                  rgba(255, 255, 255, 0.15) 7px 24px 0 -13px, 
                  rgba(255, 255, 255, 0.15) 4px 50px 0 -13px, 
                  rgba(255, 255, 255, 0.15) 12px 54px 0 -13px, 
                  rgba(255, 255, 255, 0.15) 17px 31px 0 -12px, 
                  rgba(255, 255, 255, 0.15) 2px 40px 0 -11px, 
                  rgba(255, 255, 255, 0.15) 1px 30px 0 -13px, 
                  rgba(255, 255, 255, 0.15) -7px 21px 0 -13px, 
                  rgba(255, 255, 255, 0.15) 15px 12px 0 -11px;
              }
            }

            .mobile-img-dark {
              display: none;

              .list-img {
                background: #1A2A36;
              }
            }
          }
        }
      }
    }
  }
}