$gray-bg: #F5F7FA;
$gray-text: #a0a7b2;
$gray-line: #eeeeee;
$gray-light: #ccc;
$gray-strong: #666;
$input-line: #e7e7e7;

$black-bg: #212121;

$dark-text: #a8b1bf;
$dark-bg: #212121;
$dark-wrap-bg: #262626;
$dark-wrap-header: #2c2c2c;
$dark-wrap-line: #343434;
$dark-box: #2f2f2f;
$dark-box-line: #353535;
$dark-box-header: #393939;
$dark-object-bg: #363636;
$dark-object-line: #404040;
$dark-input-bg: #363636;
$dark-input-line: #414141;

$red: #fc3969;
$red-light: #fff9f8;
$blue: #198cff;
$blue-light: #fafcff;
$aqua: #00ceff;
$mint: #48CFAD;
$green: #48CFAD;
$green-light: #e4fede;
$lavender: #8a4eea;
$orange: #ff9544;
$orange-light: #FFF4EA;
$yellow: #fffb54;

$tradlinx-blue: #03A9F4;
$zimgo-point-color: #ed287b;

$make4u-brand: #8a4eea;
$make4u-brand-hover: #6e34c9;
$make4u-brand-dark-line: #c32cdd;
$make4u-brand-dark: #9209ac;
$brand-dark-text: #ff2df4;
$make4u-dark-text: #a8b1bf;
$make4u-dark-bg: #0f141e;
$make4u-brand-light: #f8f4ff;
$input-line: #e7e7e7;
$make4u-brand-light-text: #c682fe;